<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Form</title>
    <link rel="stylesheet" href="testform.css">
</head>
<body>
    <div>
        HI <%= locals.tet || "Didn't work" %>
    </div>
    <div class="test-form">
    <h1>Welcome to today's challenge!</h1>
    <p>To start fill the form first</p>
    <form id="test-form" action="test.js" method="POST">

        <label for="firstname">Enter your name</label>
        <input type="text" name="firstname" value="fname">

        <label for="lastname">Enter last name</label>
        <input type="text" name="lastname" value="lname">

        <label for="email">Enter email adress</label>
        <input type="email" name="firstname" value="email">

        <textarea name="comment" id="user-comment" cols="40" rows="4"></textarea>

        <button type="submit" value="submit">Submit</button>

    </form>
    </div>
    
</body>
</html>